.smod-rating-container {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
}

.smod-rating-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.smod-rating-group-items {
  display: inline-flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
  position: relative;
}

.smod-rating-value-text {
  display: inline-flex;
  max-width: fit-content;
  font-size: 80%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
  border-radius: 3px;
  color: whitesmoke;
  background-color: #2c5b8a;
  visibility: hidden;
  opacity: 0;
}

.smod-rating-value-text.show {
  visibility: visible;
  opacity: 1;
}

.smod-rating-item-label {
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.1em;
  text-align: center;
  overflow: visible;
}
.smod-rating-item-label.disabled {
  cursor: not-allowed !important;
}

.smod-rating-item-label.initial,
.smod-rating-item-input.initial {
  visibility: hidden;
  display: none;
}

.smod-rating-item-icon {
  color: #ddd;
  display: inline-block;
  font: normal normal normal 14px/1 SAP-icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: color 0.2s ease-in-out;
}

.smod-rating-item-icon::before {
  font-family: SAP-icons;
  content: "";
}

.smod-rating-item-tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  z-index: 2;
  background-color: rgba(43, 44, 62, 0.849);
  border-radius: 5px;
  padding: 10px 5px;
  position: absolute;
  top: 0;
  left: 110%;
  font-size: 0.75rem;
  min-width: 200px;
  max-width: 300px;
  color: whitesmoke;
}

.smod-rating-item-icon:hover .smod-rating-item-tooltip {
  visibility: visible;
  opacity: 1;
}

.smod-rating-item-tooltip::before {
  content: attr(data-tooltip);
}

.smod-rating-item-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(43, 44, 62, 0.849) transparent transparent;
}

.disabled .smod-rating-item-icon {
  color: rgb(132, 132, 132);
}

.disabled .smod-rating-item-icon.active {
  color: rgb(216, 129, 7);
}

.smod-rating-item-icon.active {
  color: orange;
}

.smod-rating-item-icon.invalidate {
  color: rgb(132, 132, 132);
}

.smod-rating-item-input {
  display: none;
}

.hover-active {
  color: orange !important;
}

.hover-passive {
  color: #ddd !important;
}
